{% extends"base.html" %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script defer src="{{ url_for('static', filename='js/realTimeDashboardData.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/hora.js') }}" type="text/javascript" defer></script>
    <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <body onload="autoRefresh()">
{% endblock %}

{% block title %}
    <title>Painel de eventos | Flood Prevention</title>
{% endblock %}

{% block content%}
    <div class="home">
            <div class="orientacao-cards">
                <div class="temperature">
                    <p class="title_sensor">TEMPERATURA</p>
                    <ul>
                        <p class="information" id="temperatura">{{ values["Temperatura"] }} ºC</p>
                    </ul>
                    <i class="fa-solid fa-temperature-half icon-custom"></i>
                </div>
                <div class="humidity">
                    <p class="title_sensor">UMIDADE</p>
                    <ul>
                        <p class="information" id="umidade">{{ values["Umidade"] }}%</p>
                    </ul>   
                    <i class="fa-solid fa-droplet icon-custom"></i>
                </div>
                <div class="water_level">
                    <p class="title_sensor">NÍVEL DE ÁGUA</p>
                    <ul>
                        <p class="information" style="font-size: 40px;" id="nivelDaAgua">{{ values["Nível da água"] }}</p>
                    </ul>
                    <i class="fa-solid fa-water icon-custom"></i>
                </div>
            </div>
            <div class="orientacao-cards">
                <div class="alert_message">
                    <p class="title_sensor_white">MENSAGEM DO ALERTA</p>
                    <ul>
                        <p class="information_white" id="mensagemDeAlerta">{{ values["Mensagem de alerta"]}} </p>  
                    </ul>
                </div>
                <div class="alert_status">
                    <div class="data_status">
                        <p class="information_white", style="font-size: 15px; font-style: none; padding-top: 15px; padding-left: 20px;">STATUS DO ALERTA</p>
                        <ul>
                            <p class="information_white", style="font-size: 30px;" id="statusDoAlarme">{{ values["Status do alarme"] }}</p>
                        </ul>
                        <i class="fa-solid fa-triangle-exclamation icon-custom"></i>
                        {% if current_user.is_operator() or current_user.is_root() %}
                        <div class="action_button">
                            <form action="{{ url_for('action_alert') }}" method="POST">
                                <button type="submit" id="control" class="button">Acionar</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="orientacao-cards">
                {% for device in devices %}
                <div class="null_rectangle">
                    <div class="media_area">
                        <p class="date_rectangle">31/05</p>
                        <i class="fa-solid fa-cloud-showers-heavy"></i>
                        <p class="temp_rectangle">20 ºC</p>
                    </div>
                    <div class="media_area">
                        <p class="date_rectangle">30/05</p>
                        <i class="fa-solid fa-cloud-showers-heavy"></i>
                        <p class="temp_rectangle">10 ºC</p>
                    </div>
                    <div class="media_area">
                        <p class="date_rectangle">01/06</p>
                        <i class="fa-solid fa-cloud-showers-heavy"></i>
                        <p class="temp_rectangle">25 ºC</p>
                    </div>
                    <div class="media_area">
                        <p class="date_rectangle">02/06</p>
                        <i class="fa-solid fa-cloud-showers-heavy"></i>
                        <p class="temp_rectangle">30 ºC</p>
                    </div>
                </div>
                <div class="date_time">
                    <p class="information_hour">HORÁRIO
                        <div id="hora" ></div>
                        <div id="data" ></div>
                    </p>
                </div>
            </div>
    </div>
{% endblock %}
