{% extends "base.html" %}

{% block title %}
    <title>Listar sensores e atuadores | Flood Prevention</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/devicesList.css') }}">
    <script defer src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}

{% block content %}
    <div>
                <div class="search_area">
                    <p class="titulos-p">Gerenciar dispositivos &nbsp;</p>
                    <form class="form-inline">
                        <input id="searchInput" onkeyup="filterCards()" class="input_search" type="search" placeholder="Pesquisar equipamento" aria-label="Search">
                        <button class="btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>

                {% block message %}
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="content-notification">
                        <div class="notification">
                            <p>{{ messages[0] }}</p>
                            <a href="{{ url_for('devices.add_device') }}">Cadastrar dispositivos</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endwith %}
                {% endblock %}

                <section class="lista-card-users">
                    <!-- Iterar sobre todos os dispositivos -->
                    {% for device in devices %}
                        <!-- Verificar se o tipo do dispositivo é "Sensor" -->
                        {% if device.type.value == 'Sensor' %}
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Nome: {{ device.name }}</h4>
                                    <h5 class="card-text mb-2">Marca: {{ device.brand }}</h5>
                                    <h5 class="card-text mb-2">Tipo: {{ device.type.value }}</h5>

                                    <!-- Iterar sobre os tópicos do dispositivo -->
                                    {% for topic in device.topic %}
                                        <h5 class="card-text mb-2">Tópico: {{ topic.title }}</h5>
                                    {% endfor %}

                                    <h5 class="card-text mb-2">Status: {{ device.is_active }}</h5>
                                    
                                    <div class="card_btn_area">
                                        <button type="button" href="#" class="card-btn editar" data-bs-toggle="modal"
                                                data-bs-target="#ModalEdit">Editar <i class="fa-solid fa-pen-to-square"></i></button>
                                        <button type="button" href="#" class="card-btn apagar" data-bs-toggle="modal"
                                                data-bs-target="#JanelaModal">Deletar <i class="fa-solid fa-trash-can"></i></button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                
                    <!-- Iterar sobre todos os dispositivos para Atuadores-->
                    {% for device in devices %}
                        <!-- Verificar se o tipo do dispositivo é um Atuador -->
                        {% if device.type.value == 'Atuador' %}
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Nome: {{ device.name }}</h4>
                                    <h5 class="card-text mb-2">Marca: {{ device.brand }}</h5>
                                    <h5 class="card-text mb-2">Tipo: {{ device.type.value }}</h5>

                                    <!-- Iterar sobre os tópicos do dispositivo -->
                                    {% for topic in device.topic %}
                                        <h5 class="card-text mb-2">Tópico: {{ topic.title }}</h5>
                                    {% endfor %}

                                    <h5 class="card-text mb-2">Status: {{ device.is_active }}</h5>

                                    
                                    <div class="card_btn_area">
                                        <button type="button" href="#" class="card-btn editar" data-bs-toggle="modal"
                                                data-bs-target="#ModalEdit">Editar <i class="fa-solid fa-pen-to-square"></i></button>
                                        <button type="button" href="#" class="card-btn apagar" data-bs-toggle="modal"
                                                data-bs-target="#JanelaModal">Deletar <i class="fa-solid fa-trash-can"></i></button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </section>
                
            
                <!-- modal validação -->
                <div id="JanelaModal" class="modal fade">
                    <div class="modal-dialog border-rounded">
                        <div class="modal-content strongbg">
                            <div class="modal-header border-0">
                                <button type="button" class="btn btn-close " style="background-color:#b9b9b9;" data-bs-dismiss="modal">
                                </button>
                            </div>
                            <div class="modal-body">
        
                                <h3 class="text-center mx-auto">Confirme a remoção deste device</h3>
        
                                <!-- <div class="hide alerta" id="error">
                                <span>Validação não realizada, revise e tente novamente</span>
                                <button id="alertabutton">&times;</button>
                                </div> -->
        
                                <form action="/del_device" method="POST" id="login">
        
                                    <div class="col-6 mt-5 mx-auto">
                                        <label for="senha" class="form-label text-center">
                                            <h5>Digite o nome do device que deseja deletar:</h5>
                                        </label>
                                        <div class="validation_position">
                                            <input class="form-control mx-auto" type="text" id="validation" name="validation">
                                        </div>
                                    </div>
                                    <div class="col-6 my-5 mx-auto">
                                        <input type="submit" class="btn btn-danger mx-auto btn-lg" onclick="request()"
                                            value="Apagar usuário" id="apagar">
                                    </div>
                                </form>
        
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- modal editar usuário -->
                <div id="ModalEdit" class="modal fade">
                    <div class="modal-dialog border-rounded">
                        <div class="modal-content strongbg">
                            <div class="modal-header border-0">
                                <button type="button" class="btn btn-close " style="background-color:#b9b9b9;"
                                    data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
        
                                <h3 class="text-center mx-auto">Edição de device</h3>
        
                                <!-- <div class="hide alerta" id="error">
                                <span>Validação não realizada, revise e tente novamente</span>
                                <button id="alertabutton">&times;</button>
                            </div> -->
        
                                <form action="/" method="post" id="login">
        
                                    <div class="col-6 mt-5 mx-auto">
                                        <label for="senha" class="form-label text-center">
                                            <h5>Digite "APAGAR":</h5>
                                        </label>
                                        <div class="validation_position">
                                            <input class="form-control mx-auto" type="text" id="validation" name="validation">
                                        </div>
                                    </div>
                                    <div class="col-6 my-5 mx-auto">
                                        <input type="button" class="btn btn-danger mx-auto btn-lg"
                                            value="Apagar usuário" id="apagar">
                                    </div>
                                </form>
        
                            </div>
                        </div>
                    </div>
                </div>

        </section>   


    </div>
{% endblock %}