{% extends "base.html" %}

{% block title %}
    <title>Histórico | Flood Prevention</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logs.css') }}">
    <script defer src="{{ url_for('static', filename='js/logs.js') }}"></script>
{% endblock %}

{% block content %}
                <div class="titulo_area">
                    <p class="titulos-p">Histórico de dados</p>
                </div>

                <div class="content-search">
                    <form action="/logs" method="POST">
                        <select id="deviceSelect" name="device" required>
                            <option selected>Escolher dispositivo</option>
                            <option value="todos">Todos</option>
                            {% for device in devices %}
                            <option value="{{ device.name }}">{{ device.name }}</option>
                            {% endfor %}
                        </select>

                        <select id="topicSelect" name="topic" required>
                            <option selected>Escolher tópico</option>
                            <option value="todos">Todos</option>
                            {% for topic in topics %}
                            <option value="{{ topic.id }}">{{ topic.title }}</option>
                            {% endfor %}
                        </select>
                        <input type="datetime-local" class="" name="datetime_inicial" required>
                        <input type="datetime-local" class="" name="datetime_final" required>
                        <button class="btn-search" type="submit">Buscar <i class="fa-solid fa-magnifying-glass"></i></button>
                        <button class="btn-clear" type="reset">Limpar <i class="fa-solid fa-trash-can"></i></button>
                    </form>
                    {% block message %}
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert content-notification alert-dismissible" role="alert">
                        <div>{{ messages[0] }}</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    {% endwith %}
                    {% endblock %}
                </div>

                <div class="content-logs">
                    <div class="title-log">
                        <h6 class="title-device">Dispositivo</h6>
                        <h6 class="title-topic">Tópico</h6>
                        <h6 class="title-datetime">Data | Horário</h6>
                        <h6 class="title-data">Informação</h6>
                    </div>

                    {% if logs_topics %}
                    {% for log in logs_topics %}
                    <div class="card-log">
                        <p class="log-device">{{ log.device.name }}</p>
                        <p class="log-topic">{{ log.topic.title }}</p>
                        <p class="log-datetime">{{ log.creation_date }}</p>
                        <p class="log-data">{{ log.information }}</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% if logs_devices %}
                    {% for log in logs_devices %}
                    <div class="card-log">
                        <p class="log-device">{{ log.device.name }}</p>
                        <p class="log-topic">{{ log.topic.title }}</p>
                        <p class="log-datetime">{{ log.creation_date }}</p>
                        <p class="log-data">{{ log.information }}</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                
{% endblock %}
