{% extends "base.html" %}

{% block title %}
    <title>Cadastrar sensores e atuadores | Flood Prevention</title>
{% endblock %}

{% block styles %} 
    <link rel="stylesheet" href="../static/css/addHardware.css">
{% endblock %}

{% block content %}
<div class="welcome-container">
    <div class="title">
        <h1>Cadastrar Sensores e Atuadores</h1>
    </div>

    <div class="content">
        <p>Uma ferramenta poderosa nas mãos da comunidade para enfrentar as inundações.</p>
    </div>
</div>

<div class="content_form">
    <form class="form mt-1" action="http://localhost:8080/add_device" method="POST">
        <input class="nome-hardware mb-2" placeholder="Nome" name="device_name">
        <input class="nome-hardware mb-2" placeholder="Marca" name="device_brand">
        <div class="checkbox mt-4 mb-5">
            <div class="form-check one">
                <input class="form-check-input" type="radio" name="device_type" value="Sensor" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    SENSOR
                </label>
            </div>

            <div class="form-check two">
                <input class="form-check-input" type="radio" name="device_type" value="Atuador" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    ATUADOR
                </label>
            </div>
            <div>
                <input type="checkbox" id="is_active" name="is_active" checked />
                <label for="is_active">Ativo?</label>
            </div>
        </div>
        <button type="submit" class=" btn_geral">Cadastrar</button>
    </form>
</div>
{% endblock %}