{% extends"base.html" %}
{% block styles %}
<link rel="stylesheet" href="../static/css/registerUser.css">
{% endblock %}

{% block title %}
    <title>Cadastrar usuário | Flood Prevention</title>
{% endblock %}

{% block content%}
<div class="welcome-container">
    <div class="title">
        <h1>Cadastrar usuário</h1>
    </div>

    <div class="content">
        <p>Uma ferramenta poderosa nas mãos da comunidade para enfrentar as inundações.</p>
    </div>
</div>

<div class="title_hide">Castrar usuário</div>

<div class="content_form">
    <form class="form mt-1" action="http://localhost:8080/add_user" method="POST" >
        <input class="login mb-4" placeholder="Nome" name="user">

        <input type="password" class="login mb-4" placeholder="Senha" name="password" id="senha">

        <input type="password" class="login mb-2" placeholder="Confirme a senha" name="confirm_password" id="senhaC">
    
        <div class="checkbox mt-5 mb-5">
            <div class="form-check">
                <input class="form-check-input" name="user_type" type="radio" value="adm" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    ADMINISTRADOR
                </label>
            </div>

            <div class="form-check two">
                <input class="form-check-input" name="user_type" type="radio" value="user" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    COMUNIDADE
                </label>
            </div>
        </div>
        <input type = "submit" class="btn_geral" value = "Cadastrar" />
    </form>
</div>
<script src="../static/js/addUser.js"></script>
{% endblock %}