<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
</head>
<body>
    <form action = "http://localhost:8080/cadastro" method = "post">
        <p>Nome do dispositivo:</p>
        <p><input type = "text" name = "device_name" placeholder="Nome do dispositivo" required/></p>
        <p>Valor do dipositivo:</p>
        <p><input type = "text" name = "device_value" placeholder="Valor do dispositivo" required/></p>

        <input type="radio" name="device_type" value="sensor"><label>Sensor</label>
        <input type="radio" name="device_type" value="actuator"><label>Atuador</label>

        <p><input type = "submit" value = "Cadastrar" /></p>
    </form>
</body>
</html>

