<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    {% for key, values in values.items() %}
        {{key}} {{values}} <br>
    {% endfor %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
    function handleClick(cb,id){
        var topic = "";
        if (id == "control"){
        topic="/Botao/alerta";
        }

        var data = "";
        if (cb.checked){
        data = "1";
        }else{
        data = "0";
        }
        $.ajax({
            url: "{{ url_for('publish_message') }}",
            contentType: 'application/json;charset=UTF-8',
            cache: false,
            method: 'POST',
            dataType: 'json',
            data: JSON.stringify({
                message: data,
                topic: topic
            }),
            success: function(data) {
                console.log(data);
            }
        });
    }
    </script>

    <div class="switch__container">
        <input onclick='handleClick(this,this.id);' id="control" class="switch switch--shadow" type="checkbox">
        <label for="control"></label>
    </div>

</body>
</html>