{% extends "base_home.html" %}
{% block styles %} 
    <link rel="stylesheet" href="../static/css/add_hardware.css">
{% endblock %}

{% block content %}
<div class="welcome-container">
    <div class="title">
        <h1>Cadastrar Sensores e Atuadores</h1>
    </div>

    <div class="content">
        <p>Uma ferramenta poderosa nas mãos da comunidade para enfrentar as inundações.</p>
    </div>
</div>

<div class="content_form">
    <form class="form mt-1" method="POST" >
        <input class="login mb-2" placeholder="Nome">
    </form>
    <div class="checkbox mt-5 mb-5">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="device_type" value="sensor" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                SENSOR
            </label>
        </div>

        <div class="form-check two">
            <input class="form-check-input" type="radio" name="device_type" value="actuator" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                ATUADOR
            </label>
        </div>
    </div>
    <button type="button" class="btn_cad">CADASTRAR</button>
</div>
{% endblock %}