{% extends"base.html" %}
{% block styles %}
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <script defer src="../static/js/hora.js" type="text/javascript" defer></script>
{% endblock %}

{% block content%}
    <div class="home">
        <div class="home_left">
            <div class="top">
                <div class="temperature">
                    <p class="title_sensor">TEMPERATURA</p>
                    <ul>
                        <p class="information">{{ values["Temperatura"] }}ºC</p>
                    </ul>
                    <div class="icon-custom">
                        <i class="fa-solid fa-temperature-half"></i>
                    </div>
                </div>
                <div class="humidity">
                    <p class="title_sensor">UMIDADE</p>
                    <ul>
                        <p class="information">{{ values["Umidade"] }}%</p>
                    </ul>   
                </div>
            </div>
            <div class="bottom">
                <div class="alert_message">
                    <p class="title_sensor_white">MENSAGEM DO ALERTA</p>
                    <ul>
                        <p class="information_white">{{ values["Mensagem de alerta"] }}</p>  
                    </ul>   
                </div>
                <div class="null_rectangle">
                    <p class="title_sensor">Nulo</p>
                </div>
            </div>
        </div>
        <!--________________________________________________________________________________________________-->
        <div class="home_right">
            <div class="water_level">
                    <p class="title_sensor">NÍVEL DE ÁGUA</p>
                        <ul>
                            <p class="information" style="font-size: 40px;">{{ values["Nível da água"] }}</p>
                        </ul>
            </div>
            <div class="alert_status">
                <div class="data_status">
                    <p class="information_white", style="font-size: 15px; font-style: none; padding-top: 15px; padding-left: 20px;">STATUS DO ALERTA</p>
                    <ul>
                        <p class="information_white", style="font-size: 30px;">{{ values["Status do alarme"] }}</p>
                    </ul>
                    <div class="action_button">
                        <input onclick='action(this,this.id);' id="control" class="button" type="button">
                        <label for="control">ACIONAR</label>
                    </div>
                </div>
            </div>
            <div class="date_time">
                <p class="information_hour">Horário
                    <div id="hora" ></div>
                    <div id="data" ></div>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
