{% extends"base.html" %}
{% block content%}
    <div class="home">
        <div class="home_left">
            <div class="top">
                <div class="temperature">
                    <p class="title_sensor">TEMPERATURA</p>
                    <ul>
                        {% for key, value in temperature.items() %}
                        <p class="information">{{ value }}</p>
                        {% endfor %}
                    </ul>
                </div>
                <div class="humidity">
                    <p class="title_sensor">UMIDADE</p>
                    <ul>
                        {% for key, value in humidity.items() %}
                        <p class="information">{{ value }}</p>
                        {% endfor %}    
                    </ul>   
                </div>
            </div>
            <div class="bottom">
                <div class="alert_message">
                    <p class="title_sensor_white">MENSAGEM DO ALERTA</p>
                    <ul>
                        {% for key, value in mensagem_de_alerta.items() %}
                        <p class="information_white">{{ value }}</p>
                        {% endfor %}    
                    </ul>   
                </div>
                <div class="null_rectangle">
                    <p class="title_sensor">Nulo</p>
                </div>
            </div>
        </div>
        <!--________________________________________________________________________________________________-->
        <div class="home_right">
            <div class="water_level">
                    <p class="title_sensor">NÍVEL DE ÁGUA</p>
                        <ul>
                            {% for key, value in mensagem_nivel_da_agua.items() %}
                            <p class="information" style="font-size: 40px;">{{ value }}</p>
                            {% endfor %}
                        </ul>
            </div>
            <div class="alert_status">
                <div class="data_status">
                    <p class="information_white", style="font-size: 15px; font-style: none; padding-top: 15px; padding-left: 20px;">STATUS DO ALERTA</p>
                    <ul>
                        {% for key, value in alerta_value.items() %}
                        <p class="information_white", style="font-size: 30px;">{{ value }}</p>
                        {% endfor %}
                    </ul>
                    <div class="action_button">
                        <input onclick='action(this,this.id);' id="control" class="button" type="button">
                        <label for="control">ACIONAR</label>
                    </div>
                </div>
            </div>
            <div class="date_time">
                <p class="information_hour">Horário
                    <div id="hora" ></div>
                    <div id="data" ></div>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
