{% extends "base.html" %}

{% block title %}
    <title>Listar sensores e atuadores | Flood Prevention</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/devicesList.css"> 
    <script defer src="../static/js/Userlist.js"></script>
{% endblock %}

{% block content %}
    <div>
                <div class="search_area">
                    <p class="titulos-p">Lista de sensores e atuadores &nbsp;</p>
                    <form class="form-inline">
                        <input class="input_search" type="search" placeholder="Pesquisar equipamento" aria-label="Search">
                        <button class="btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>

                <section class="lista-card-users">
                    <!-- cards sensor -->
                    {% for key in sensors %}
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Nome: {{ key }}</h4>
                                <h5 class="card-text mb-2">Tipo: Sensor</h5>
                                <div class="card_btn_area">
                                    <button type="button" href="#" class="card-btn editar" data-bs-toggle="modal"
                                            data-bs-target="#ModalEdit_{{ loop.index }}">Editar <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button type="button" href="#" class="card-btn apagar" data-bs-toggle="modal"
                                            data-bs-target="#JanelaModal_sensor_{{ loop.index }}">Deletar <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                
                    <!-- cards atuators -->
                    {% for key in actuators %}
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Nome: {{ key }}</h4>
                                <h5 class="card-text mb-2">Tipo: Atuador</h5>
                                <div class="card_btn_area">
                                    <button type="button" href="#" class="card-btn editar" data-bs-toggle="modal"
                                            data-bs-target="#ModalEdit_{{ loop.index }}">Editar <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button type="button" href="#" class="card-btn apagar" data-bs-toggle="modal"
                                            data-bs-target="#JanelaModal_atuador_{{ loop.index }}">Deletar <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                
                    <!-- modais validação -->
                    {% for key in sensors %}
                        <div id="JanelaModal_sensor_{{ loop.index }}" class="modal fade">
                            <!-- Conteúdo do modal para sensores -->
                            <div class="modal-dialog border-rounded">
                                <div class="modal-content strongbg">
                                    <div class="modal-header border-0">
                                        <button type="button" class="btn btn-close " style="background-color:#b9b9b9;"
                                                data-bs-dismiss="modal">
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h3 class="text-center mx-auto">Confirme a remoção do sensor "{{ key }}"</h3>
                                        <form action="/" method="post" id="login">
                                            <div class="col-6 mt-5 mx-auto">
                                                <label for="senha" class="form-label text-center">
                                                    <h5>Digite "APAGAR":</h5>
                                                </label>
                                                <div class="validation_position">
                                                    <input class="form-control mx-auto" type="text" id="validation" name="validation">
                                                </div>
                                            </div>
                                            <div class="col-6 my-5 mx-auto">
                                                <input type="button" class="btn btn-danger mx-auto btn-lg" onclick="request()"
                                                       value="Apagar usuário" id="apagar">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                
                    {% for key in actuators %}
                        <div id="JanelaModal_atuador_{{ loop.index }}" class="modal fade">
                            <!-- Conteúdo do modal para atuadores -->
                            <div class="modal-dialog border-rounded">
                                <div class="modal-content strongbg">
                                    <div class="modal-header border-0">
                                        <button type="button" class="btn btn-close " style="background-color:#b9b9b9;"
                                                data-bs-dismiss="modal">
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h3 class="text-center mx-auto">Confirme a remoção do atuador "{{ key }}"</h3>
                                        <form action="/" method="post" id="login">
                                            <div class="col-6 mt-5 mx-auto">
                                                <label for="senha" class="form-label text-center">
                                                    <h5>Digite "APAGAR":</h5>
                                                </label>
                                                <div class="validation_position">
                                                    <input class="form-control mx-auto" type="text" id="validation" name="validation">
                                                </div>
                                            </div>
                                            <div class="col-6 my-5 mx-auto">
                                                <input type="button" class="btn btn-danger mx-auto btn-lg" onclick="request()"
                                                       value="Apagar usuário" id="apagar">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </section>
                <!-- modal editar usuário -->
                <div id="ModalEdit" class="modal fade">
                    <div class="modal-dialog border-rounded">
                        <div class="modal-content strongbg">
                            <div class="modal-header border-0">
                                <button type="button" class="btn btn-close " style="background-color:#b9b9b9;"
                                    data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
        
                                <h3 class="text-center mx-auto">Edição de device</h3>
        
                                <!-- <div class="hide alerta" id="error">
                                <span>Validação não realizada, revise e tente novamente</span>
                                <button id="alertabutton">&times;</button>
                            </div> -->
        
                                <form action="/" method="post" id="login">
        
                                    <div class="col-6 mt-5 mx-auto">
                                        <label for="senha" class="form-label text-center">
                                            <h5>Digite "APAGAR":</h5>
                                        </label>
                                        <div class="validation_position">
                                            <input class="form-control mx-auto" type="text" id="validation" name="validation">
                                        </div>
                                    </div>
                                    <div class="col-6 my-5 mx-auto">
                                        <input type="button" class="btn btn-danger mx-auto btn-lg"
                                            value="Apagar usuário" id="apagar">
                                    </div>
                                </form>
        
                            </div>
                        </div>
                    </div>
                </div>

        </section>   


    </div>
{% endblock %}