#dashboard-nav {
    color: #F5F5F5;
}

.home {
    display: flex;
    height: 530px;
    width: 1300px;
    margin: 50px 100px;
}

.home_left {
    display: flex;
    height: 100%;
    width: 70%;
    margin-right: 10px;
    justify-content: space-between;
    flex-direction: column;

}

.top {
    display: flex;
    height: 30%;
}

.temperature {
    display: flex;
    flex-direction: column;
    width: 405px;
    height: 135px;
    background-color: #260D33;
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    margin: 10px;
    position: relative;
}

.humidity {
    display: flex;
    flex-direction: column;
    width: 405px;
    height: 135px;
    background-color: #260D33;
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    margin: 10px;
    margin-left: 70px;
    position: relative;
}

.icon-custom {
    width: 65px;
    height: 65px;
    border-radius: 20px;
    position: absolute;
    border-radius: 100px;
    top: 35px;
    right: 25px;
}

.temperature i {
    border: 1px solid #CCB800;
    color: #CCB800;
    font-size: 2.5em;
    padding: 11px 19px;
}

.humidity i {
    border: 1px solid #00D8FF;
    color: #00D8FF;
    font-size: 2.5em;
    padding: 11px 17px;
}

.water_level i {
    border: 1px solid #A361FF;
    color: #A361FF;
    font-size: 2em;
    padding: 15px 14px;
}

.alert_status i {
    border: 1px solid #A80D0D;
    color: #A80D0D;
    font-size: 2.5em;
    padding: 8px 12px;
    top: 20px;
}

.bottom {
    display: flex;
    height: 70%;
    flex-direction: column;
}

.alert_message {
    display: flex;
    flex-direction: column;
    width: 890px;
    height: 135px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.null_rectangle {
    display: flex;
    flex-direction: column;
    width: 890px;
    height: 200px;
    background-color: #260D33;
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.home_right {
    display: flex;
    height: 100%;
    width: 30%;
    margin-left: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.water_level {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 135px;
    margin: 10px;
    background-color: #260D33;
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    position: relative;
}

.alert_status {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 135px;
    margin-left: 10px;
    margin-bottom: 35px;
    align-items: flex-end;
    position: relative;
}

.data_status {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 135px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}

.action_button {
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

.action_button label {
    color: #F5F5F5;
    position: absolute;
    margin-right: 24px;
    padding: 13px 32px;
    border-radius: 30px;
}

.action_button label:hover {
    color: #260D33;
}

.button {
    width: 140px;
    height: 50px;
    border-radius: 100px;
    border-style: none;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    cursor: pointer;
    padding-top: 30px;
    background-color: #260D33;
    position: relative;
    margin-right: 25px;
}

/* Estilo do botão quando clicado (cor verde) */
.control.clicked {
    background-color: green;
}

/* Estilo do botão quando clicado (cor vermelha) */
.control.clicked-red {
    background-color: red;
}

.date_time {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 150px;
    margin: 10px;
    background-color: #260D33;
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 23px;
}

.title_sensor {
    color:#F5F5F5;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    padding-top: 10px;
    margin: 0px;
    margin-top: 10px;

}

.title_sensor_white {
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    padding-top: 10px;
    margin: 0px;
    margin-top: 10px;
}

.information {
    color: #F5F5F5;
    font-size: 50px;
    font-weight: bold;
    margin: 0px;
    padding-left: 10px;
}

.information_hour {
    padding-top: 10px;
    padding-left: 20px;
    color: #F5F5F5;
    margin: 0px;
}

.information_white {
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
    padding-left: 10px;
}

ul {
    padding-left: 10px;
}

#data {
    color: #F5F5F5;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding-left: 23px;

}

#hora {
    padding-left: 20px;
    color: #F5F5F5;
    font-size: 60px;
    height: 70px;
    margin: 0px;
    font-weight: 600;
}

input:hover {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    background-color: #F5F5F5;
    border: 2px solid #260D33;
}