html {
    background: url("../img/backgroundgeral.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

#config-nav {
    color: #F5F5F5;
}

.welcome-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: absolute;
    height: 93.1vh;
    width: 35%;
    right: 0;
    background: rgb(0, 216, 255);
    background: linear-gradient(180deg, rgba(0, 216, 255, 0.50) 0%, rgba(16, 107, 135, 0.50) 50%, rgba(0, 63, 105, 0.50) 100%);
}

.title {
    position: absolute;
    width: 50%;
    top: 25%;
    left: 45.2%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    text-align: left;
}

.content {
    position: absolute;
    top: 40%;
    /* Define a posição vertical do conteúdo abaixo do título */
    left: 47%;
    transform: translateX(-50%);
    /* Move o conteúdo horizontalmente para o centro */
    color: aliceblue;
    font-size: small;
    font-size: larger;
    text-align: left;
}

input[type="radio"]:checked + label {
    color: white; 
    font-weight: bold; 
}

.content_form {
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 15% ;
    top: 0;
    right: 0;
    width: 60%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    background-color: rgba(227, 227, 227, 0.50);
    border-style: none;
    border-radius: 30px;
    height: 50px;
    padding: 0px 20px;
    width: 400px;
    color: #f5f5f5;
}

.checkbox {
    display: flex;
    flex-direction: row;
    margin-right: 20%;
    color: aliceblue;
}

.form-check {
    color: rgba(227, 227, 227, 0.50)  ;
}

.two {
    margin-left: 25%;
}