<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <script src="../static/hora.js" type="text/javascript" defer></script>
        <title>Dashboard</title>
    </head>
    <body>
        <div class="home">
            <div class="home_left">
                <div class="top">
                    <div class="temperature">
                        <p class="title_sensor">TEMPERATURA</p>
                        <ul>
                            {% for key, value in temperatura.items() %}
                            <p class="information">{{ value }}</p>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="humidity">
                        <p class="title_sensor">UMIDADE</p>
                        <ul>
                            {% for key, value in umidade.items() %}
                            <p class="information">{{ value }}</p>
                            {% endfor %}    
                        </ul>   
                    </div>
                </div>
                <div class="bottom">
                    <div class="alert_message">
                        <p class="title_sensor_white">MENSAGEM DO ALERTA</p>
                        <ul>
                            {% for key, value in mensagem.items() %}
                            <p class="information_white">{{ value }}</p>
                            {% endfor %}    
                        </ul>   
                    </div>
                    <div class="null_rectangle">
                        <p class="title_sensor">Nulo</p>
                    </div>
                </div>
            </div>

            <!--________________________________________________________________________________________________-->

            <div class="home_right">
                <div class="water_level">
                        <p class="title_sensor">NÍVEL DE ÁGUA</p>
                            <ul>
                                {% for key, value in nivel.items() %}
                                <p class="information">{{ value }}</p>
                                {% endfor %}
                            </ul>
                </div>
                <div class="alert_status">
                    <div class="data_status">
                        <p class="information_white", style="font-size: 20px; font-style: none; padding-top: 10px; padding-left: 20px;">STATUS DO ALERTA</p>
                        <ul>
                            {% for key, value in status.items() %}
                            <p class="information_white", style="font-size: 30px;">{{ value }}</p>
                            {% endfor %}
                        </ul>
                        <div class="action_button">
                            <button type="button" onclick="action(this)" class="button">ACIONAR</button>
                        </div>
                    </div>
                </div>
                <div class="date_time">
                    <p class="information_hour">Horário
                        <div id="hora" ></div>
                        <div id="data" ></div>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>