html {
    background: url("../../../public/assets/backgroundgeral.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.search_area{
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: row;
}

.user_list{
    margin-top: 20%;
    position: absolute;
}

.search_area h1{
    font-family: "Julius Sans One";
    color: aliceblue;
}
